<!DOCTYPE HTML>
<html>
{% load static %}
{% load my_tags %}
<title>Catalogo</title>
<head>

    <meta charset="utf-8" />

    <style>
        #titulo {
            width:100%;
            margin: 3px;
            text-align: center;
            font-family: 'Times New Roman', Times, serif;
        }

        #hoja {
            float: right;
            height: 1160px;
            width: 920px;
        }

        #img {
            float: right;
            text-align: center;
        }

        #h5 {
            text-align: left;
            font-family: 'Times New Roman', Times, serif;
        }

        #h4 {
            text-align: left;
            font-family: 'Times New Roman', Times, serif;
        }

        hr {
            margin-top: 0px !important;
            margin-bottom: 0px !important;
        }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static '/css/cliente.css' %}">
</head>

<body>

{% if Cbf != 'height:0px;'  %}
        <div class="container-fluid" style={{ Cbf }}>     
            <div class="row">
                <div style="width: 100%;border-bottom: 1px solid grey;">
                    <img id="titulo" style="height:60px; width: 240px;margin-bottom:2px;" src={{logo_bf}}>
                </div>
                {% for val in datosBF %}
                    {% if val.10 == 'BABY FRESH'%}   
                      
                            <div class="col col-lg-6 col-sm-6 ">
                                <div style="text-align: center;margin-top: 7.5px;">
                                    <img src={{ val.8 }}>
                                </div>
                                <div class="col-10">
                                    <p>
                                    <h5 style="height:40px"> {{ val.7 }}</h5>
                                    <hr>
                                    <h5>Categoría: {{ val.12 }}</h5>
                                    <hr>
                                    <h5>Material: {{ val.1 }} </h5>
                                    <hr>
                                    <h5 style="height:60px">Composición: {{ val.6 }} </h5>
                                    <hr>
                                    <h5>Unidad de empaque: {{ val.5 }} </h5>
                                    <hr>
                                    <h5 style="height:40px">
                                        <table>
                                            <tr>
                                            <th style="height:20px; font-weight:normal">Color:</th>
                                            {% for imagen in val.11  %}
                                                    {% if 'http' in imagen.icono_color %}
                                                        <td align="center" >
                                                            <img style="border-radius:50%; width:32px; height:32px;" src={{ imagen.icono_color }}>
                                                        </td>
                                                    {%endif%}
                                            {% endfor %}
                                            </tr>
                                            <tr>
                                                <th></th>
                                                {% for codigo in val.13 %}
                                                    <td style="height:10px; font-size:60%;" align="center"> {{  codigo.codigo_color  }} </td> 
                                                {% endfor %}
                                            </tr>
                                        </table>
                                    </h5>
                                    <hr>
                                    <h5 style="height:40px">Tallas: {{ val.9 }}</h5>
                                    <hr>
                                    <h3>Precio: {{moneda}} {{ val.4 }}</h3>
                                    <hr>
                                    </p>
                                </div>
                            </div>  
                            {% if forloop.counter|modulo:4 == 0 and forloop.counter != datos|length %}
                            <div style="width: 100%;border-bottom: 1px solid grey;">
                                <img id="titulo" style="height:60px; width: 240px;margin-bottom:2px;" src={{logo_bf}}>
                            </div>
                        {% endif %}                              
                    {% endif %}
                {% endfor %}
            </div>
        </div>
{% endif %}

{% if Cgef != 'height:0px;'  %}
        <div class="container-fluid" style={{ Cgef }}>     
            <div class="row">
            <div style="width: 100%;border-bottom: 1px solid grey;">
                <img id="titulo" style="height:60px; width: 69px;margin-bottom:2px;" src={{logo_gef}}>
            </div>
                
                {% for val in datosGEF %}
                    {% if val.10 == 'GEF' %}
                             
                        
                    <div class="col col-lg-6 col-sm-6 ">
                        <div style="text-align: center;margin-top: 7.5px;">
                            <img src={{ val.8 }}>
                        </div>
                        <div class="col-10">
                            <p>
                            <h5 style="height:40px"> {{ val.7 }}</h5>
                            <hr>
                            <h5>Categoría: {{ val.12 }}</h5>
                            <hr>
                            <h5>Material: {{ val.1 }} </h5>
                            <hr>
                            <h5 style="height:60px">Composición: {{ val.6 }} </h5>
                            <hr>
                            <h5>Unidad de empaque: {{ val.5 }} </h5>
                            <hr>
                            <h5 style="height:40px">
                                <table>
                                    <tr>
                                        <th style="height:20px; font-weight:normal">Color:</th>
                                        {% for imagen in val.11  %}
                                            {% if 'http' in imagen.icono_color %}
                                                <td align="center" >
                                                    <img style="border-radius:50%; width:32px; height:32px;" src={{ imagen.icono_color }}>
                                                </td>
                                            {% endif %}
                                        {% endfor %}
                                    </tr>
                                    <tr>
                                        <th></th>
                                        {% for codigo in val.13 %}
                                            <td style="height:10px; font-size:60%;" align="center"> {{  codigo.codigo_color  }} </td> 
                                        {% endfor %}
                                    </tr>
                                </table>
                            </h5>
                            <hr>
                            <h5 style="height:40px">Tallas: {{ val.9 }}</h5>
                            <hr>
                            <h3>Precio: {{moneda}} {{ val.4 }}</h3>
                            <hr>
                            </p>
                        </div>
                    </div>
                            {% if forloop.counter|modulo:4 == 0 and forloop.counter != datos|length %}
                            <div style="width: 100%;border-bottom: 1px solid grey;">
                                <img id="titulo" style="height:60px; width: 69px;margin-bottom:2px;" src={{logo_gef}}>
                            </div>
                        {% endif %}                              
                    {% endif %}
                {% endfor %}
            </div>
        </div>
{% endif %}
{% if CPb != 'height:0px;'  %}
        <div class="container-fluid" style={{ CPb }}>     
            <div class="row">
            <div style="width: 100%;border-bottom: 1px solid grey;">
                <img id="titulo" style="height:60px; width: 240px;margin-bottom:2px;" src={{logo_pb}}>
            </div>
                
                {% for val in datosPB %}
                    {% if val.10 == 'PUNTO BLANCO' %}
                         
                    <div class="col col-lg-6 col-sm-6 ">
                        <div style="text-align: center;margin-top: 7.5px;">
                            <img src={{ val.8 }}>
                        </div>
                        <div class="col-10">
                            <p>
                            <h5 style="height:40px"> {{ val.7 }}</h5>
                            <hr>
                            <h5>Categoría: {{ val.12 }}</h5>
                            <hr>
                            <h5>Material: {{ val.1 }} </h5>
                            <hr>
                            <h5 style="height:60px">Composición: {{ val.6 }} </h5>
                            <hr>
                            <h5>Unidad de empaque: {{ val.5 }} </h5>
                            <hr>
                            <h5 style="height:40px">
                                <table>
                                    <tr>
                                    <th style="height:20px; font-weight:normal">Color:</th>
                                    {% for imagen in val.11 %}
                                        {% if 'http' in imagen.icono_color %}
                                            <td align="center" >
                                                <img style="border-radius:50%; width:32px; height:32px;" src={{ imagen.icono_color }}>
                                            </td>
                                        {% endif %}
                                    {% endfor %}
                                    </tr>
                                    <tr>
                                        <th></th>
                                        {% for codigo in val.13 %}
                                            <td style="height:10px; font-size:60%;" align="center"> {{  codigo.codigo_color  }} </td> 
                                        {% endfor %}
                                    </tr>
                                </table>
                            </h5>
                            <hr>
                            <h5 style="height:40px">Tallas: {{ val.9 }}</h5>
                            <hr>
                            <h3>Precio: {{moneda}} {{ val.4 }}</h3>
                            <hr>
                            </p>
                        </div>
                    </div>
                            {% if forloop.counter|modulo:4 == 0 and forloop.counter != datos|length %}
                            <div style="width: 100%;border-bottom: 1px solid grey;">
                                <img id="titulo" style="height:60px; width: 240px;margin-bottom:2px;" src={{logo_pb}}>
                            </div>
                        {% endif %}                              
                    {% endif %}
                {% endfor %}
            </div>
        </div>
{% endif %}

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
    <script> window.print() </script>
</body>

</html>