<!DOCTYPE HTML>
<html>
{% load static %}
{% load my_tags %}

<head>

    <meta charset="utf-8" />

    <style>
        #titulo {
            width:100%;
            margin: 3px;
            text-align: center;
            font-family: 'Times New Roman', Times, serif;
        }

        #hoja {
            float: right;
            height: 1160px;
            width: 920px;
        }

        #img {
            float: right;
            text-align: center;
        }

        #h5 {
            text-align: left;
            font-family: 'Times New Roman', Times, serif;
        }

        #h4 {
            text-align: left;
            font-family: 'Times New Roman', Times, serif;
        }

        hr {
            margin-top: 0px !important;
            margin-bottom: 0px !important;
        }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static '/css/cliente.css' %}">
</head>

<body>

{% if Cbf != 'height:0px;'  %}
        <div class="container-fluid" style={{ Cbf }}>     
            <div class="row">
                <div style="width: 100%;border-bottom: 1px solid grey;">
                    <img id="titulo" style="height:60px; width: 240px;margin-bottom:2px;" src="https://tienda.babyfresh.com.co/wcsstore/DefaultStorefrontAssetStore8/images/BBF/LOGO/Logo-BF-tienda-virtuales-FEP-8.png">
                </div>
                {% for val in datosBF %}
                    {% if val.12 == 'BABY FRESH'%}   
                      
                            <div class="col col-lg-6 col-sm-6 ">
                                <div style="text-align: center;margin-top: 7.5px;">
                                    <img src={{ val.9 }}>
                                </div>
                                <div class="col-10">
                                    <p>
                                    <h5 style="height:40px"> {{ val.8 }}</h5>
                                    <hr>
                                    <h5>Categoría: {{ val.11 }}</h5>
                                    <hr>
                                    <h5>Material: {{ val.0 }} </h5>
                                    <hr>
                                    <h5 style="height:60px">Composición: {{ val.13 }} </h5>
                                    <hr>
                                    <h5>Unidad de empaque: {{ val.1 }} </h5>
                                    <hr>
                                    <h5 style="height:40px">Color:
                                        {% for imagen in val.6  %}
                                            {% if 'http' in imagen.icono_color %}
                                                <img style="border-radius:50%; width:20px; height:20px;" src={{ imagen.icono_color }}>
                                            {% endif %}
                                        {% endfor %}
                                    </h5>
                                    <hr>
                                    <h5 style="height:40px">Tallas: {{ val.7 }}</h5>
                                    <hr>
                                    <h3>Precio: {{moneda}} {{ val.2 }}</h3>
                                    <hr>
                                    </p>
                                </div>
                            </div>  
                            {% if forloop.counter|modulo:4 == 0 and forloop.counter != datos|length %}
                            <div style="width: 100%;border-bottom: 1px solid grey;">
                                <img id="titulo" style="height:60px; width: 240px;margin-bottom:2px;" src="https://tienda.babyfresh.com.co/wcsstore/DefaultStorefrontAssetStore8/images/BBF/LOGO/Logo-BF-tienda-virtuales-FEP-8.png">
                            </div>
                        {% endif %}                              
                    {% endif %}
                {% endfor %}
            </div>
        </div>
{% endif %}

{% if Cgef != 'height:0px;'  %}
        <div class="container-fluid" style={{ Cgef }}>     
            <div class="row">
            <div style="width: 100%;border-bottom: 1px solid grey;">
                <img id="titulo" style="height:60px; width: 69px;margin-bottom:2px;" src="https://www.gef.com.co/wcsstore/CrystalCo/images/GEF/CABECERA/logo_gef.png">
            </div>
                
                {% for val in datosGEF %}
                    {% if val.12 == 'GEF' %}
                             
                            <div class="col col-lg-6 col-sm-6 ">
                                <div style="text-align: center; margin-top: 7.5px;">
                                    <img src={{ val.9 }}>
                                </div>
                                <div class="col-10">
                                    <p>
                                    <h5 style="height:40px"> {{ val.8 }}</h5>
                                    <hr>
                                    <h5>Categoría: {{ val.11 }}</h5>
                                    <hr>
                                    <h5>Material: {{ val.0 }} </h5>
                                    <hr>
                                    <h5 style="height:60px">Composición: {{ val.13 }} </h5>
                                    <hr>
                                    <h5>Unidad de empaque: {{ val.1 }}  </h5>
                                    <hr>
                                    <h5 style="height:40px">Color:
                                        {% for imagen in val.6  %}
                                            {% if 'http' in imagen.icono_color %}
                                                <img style="border-radius:50%; width:20px; height:20px;" src={{ imagen.icono_color }}>
                                            {% endif %}
                                        {% endfor %}
                                    </h5>
                                    <hr>
                                    <h5 style="height:40px">Tallas: {{ val.7 }}</h5>
                                    <hr>
                                    <h3>Precio: {{moneda}} {{ val.2 }}</h3>
                                    <hr>
                                    </p>
                                </div>
                            </div>  
                            {% if forloop.counter|modulo:4 == 0 and forloop.counter != datos|length %}
                            <div style="width: 100%;border-bottom: 1px solid grey;">
                                <img id="titulo" style="height:60px; width: 69px;margin-bottom:2px;" src="https://www.gef.com.co/wcsstore/CrystalCo/images/GEF/CABECERA/logo_gef.png">
                            </div>
                        {% endif %}                              
                    {% endif %}
                {% endfor %}
            </div>
        </div>
{% endif %}
{% if CPb != 'height:0px;'  %}
        <div class="container-fluid" style={{ CPb }}>     
            <div class="row">
            <div style="width: 100%;border-bottom: 1px solid grey;">
                <img id="titulo" style="height:60px; width: 240px;margin-bottom:2px;" src="https://www.puntoblanco.com.co/wcsstore/DefaultStorefrontAssetStore8/images/PBC/HOMEPAGE/2016/06_JUNIO/SEMANA_24/logo_PBC.jpg">
            </div>
                
                {% for val in datosPB %}
                    {% if val.12 == 'PUNTO BLANCO' %}
                             
                            <div class="col col-lg-6 col-sm-6 ">
                                <div style="text-align: center; margin-top: 7.5px;">
                                    <img src={{ val.9 }}>
                                </div>
                                <div class="col-10">
                                    <p>
                                    <h5 style="height:40px"> {{ val.8 }}</h5>
                                    <hr>
                                    <h5>Categoría: {{ val.11 }}</h5>
                                    <hr>
                                    <h5>Material: {{ val.0 }} </h5>
                                    <hr>
                                    <h5 style="height:60px">Composición: {{ val.13 }} </h5>
                                    <hr>
                                    <h5>Unidad de empaque: {{ val.1 }} </h5>
                                    <hr>
                                    <h5 style="height:40px">Color:
                                        {% for imagen in val.6  %}
                                            {% if 'http' in imagen.icono_color %}
                                                <img style="border-radius:50%; width:20px; height:20px;" src={{ imagen.icono_color }}>
                                            {% endif %}
                                        {% endfor %}
                                    </h5>
                                    <hr>
                                    <h5 style="height:40px">Tallas: {{ val.7 }}</h5>
                                    <hr>
                                    <h3>Precio: {{moneda}} {{ val.2 }}</h3>
                                    <hr>
                                    </p>
                                </div>
                            </div>  
                            {% if forloop.counter|modulo:4 == 0 and forloop.counter != datos|length %}
                            <div style="width: 100%;border-bottom: 1px solid grey;">
                                <img id="titulo" style="height:60px; width: 240px;margin-bottom:2px;" src="https://www.puntoblanco.com.co/wcsstore/DefaultStorefrontAssetStore8/images/PBC/HOMEPAGE/2016/06_JUNIO/SEMANA_24/logo_PBC.jpg">
                            </div>
                        {% endif %}                              
                    {% endif %}
                {% endfor %}
            </div>
        </div>
{% endif %}

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
    <script> window.print() </script>
</body>

</html>