<!DOCTYPE html>
<html lang="en">
{% load static %}
{% load my_tags %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    
    <link rel="stylesheet" href='{% static "/css/cliente.css" %}'>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title>Eli</title>
</head>

<body>

    <nav id="header" class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">        
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                Repositorio central de imagenes
            </a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    {% if '/subida/'  == request.path and 'si'  in mostrar %}
                    <li class="nav-item active">
                        <form action="/Descarga_doc/" method="POST">{% csrf_token%}
                            <input class="btn btn-outline-light mr-sm-2" value="Descargar doc" type="submit">
                            <input type="hidden" value="{{token}}" name="token" >
                        </form>
                        
                    </li>                   
                    <li class="nav-item active">
                        <form action="/Descarga_img/" method="POST">{% csrf_token%}
                            <div class="input-group">
                                <select class="custom-select" name="rango" id="rango" required="true">
                                    <option selected>Seleccione...</option>
                                    {% for valor in rangos  %}
                                        <option value="{{valor}}">{{valor|rango:0}} a {{valor|rango:1}}</option>  
                                    {% endfor %}                              
                                </select>
                                  <div class="input-group-append">
                                    <input class="btn btn-outline-light mr-sm-2" value="Descargar img" type="submit">
                                  </div>                            
                            </div>                           
                            <input type="hidden" value="{{token}}" name="token" >
                        </form>                        
                    </li>                 
                  
                       {% endif %} 
                    <li>{{message.tags}}</li>
                                  
                </ul>
            </div> 
        </div>
    </nav>
    {% block body %}

    {% endblock %}

      
     <footer>
        <div class="card-footer text-muted">Crystal:
            <a href="http://www.crystal.com.co" target="_blank"> Crystal.com.co</a>
        </div>
    </footer>
    <script>
        $(document).ready(function() {
            $('#tabla').DataTable();
        } );
    </script>
    <script src='{% static "/js/cliente.js" %}' ></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>     
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
</body>
</html>
