<div class="container-fluid mt-5">
    <div class="tab">
        <button class="tablinks" onclick="openEvent(event, 'pago')">PIM</button>
        <button class="tablinks" onclick="openEvent(event, 'envio')">PDF</button>
    </div>

    <div id="pago" class="tabcontent">

        <div class="container pt-4">
            <div class="row">
                <div class="col-md-10 offset-1 align-items-center">
                    <form action="/subida/" method="POST" enctype="multipart/form-data"
                        class="p-3 border bg-transparent rounded-lg">{% csrf_token%}
                        <div class="form-row">
                            <div class="form-group col-md">
                                <label for="ancho">Ancho</label>
                                <input type="number" class="form-control" id="ancho" name="ancho"
                                    aria-describedby="Ancho" value={{ancho}}>
                                <small id="emailHelp" class="form-text text-muted">Ingresa
                                    el tamaño del ancho de la
                                    imagen.(Px)</small>
                            </div>
                            <div class="form-group col-md">
                                <label for="largo">Largo</label>
                                <input type="number" class="form-control" id="largo" name="largo"
                                    aria-describedby="Largo" value={{largo}}>
                                <small id="emailHelp" class="form-text text-muted">Ingresa
                                    el tamaño del Largo de la
                                    imagen.(Px)</small>
                            </div>
                            <div class="form-group col-md">
                                <label for="">Descarga</label>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheck1">
                                    <label class="custom-control-label" for="customCheck1">¿Va a descargar las imagenes?</label>
                                  </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md">
                                <label for="Consulta">Medio de Consulta</label>
                                <select name="tipo" class="form-control" id="Consulta">
                                    <option value="">Seleccione...</option>
                                    <option value="EAN" {% if 'EAN' in tipo %}selected="selected" {% endif %}>EAN
                                    </option>
                                    <option value="MATERIAL" {% if 'MATERIAL' in tipo %}selected="selected" {% endif %}>
                                        MATERIAL</option>
                                </select>
                                      <div class="row">

                                    <br>
                                    <div class="col-md-6">
                                        <label for="Consulta">Marca</label>
                                        <select name="tipo" class="form-control" id="Consulta">
                                            <option value="">Seleccione...</option>
                                            {% for marca in marcas %}
                                            <option value="{{marca.marca}}">{{marca.marca}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="Consulta">Tipo prenda</label>
                                        <select name="tipo" class="form-control" id="Consulta">
                                            <option value="">Seleccione...</option>
                                            {% for tipo_prenda in tipo_prendas %}
                                            <option value="{{tipo_prendas.tipo_prenda}}">{{tipo_prenda.tipo_prenda}}
                                            </option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <label for="Consulta">Generos</label>
                                        <select name="tipo" class="form-control" id="Consulta">
                                            <option value="">Seleccione...</option>
                                            {% for categoria in categorias %}
                                            <option value="{{generos.genero}}">
                                                {{generos.genero}}</option>
                                            {% endfor %}
                                        </select>
                                        <div class="col-md-6">
                                            <label for="Consulta">Grupo destino</label>
                                            <select name="tipo" class="form-control" id="Consulta">
                                                <option value="">Seleccione...</option>
                                                {% for categoria in categorias %}
                                                <option value="{{grupo_destinos.grupo_destino}}">
                                                    {{grupo_destinos.grupo_destino}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>


                            </div>
                        </div>

                        <div class="form-row col-md-10">
                            <div class="form-group col-md">
                                <label for="archivo">Cargar Archivo</label>
                                <input type="file" name="archivo" class="form-control-file" id="archivo" required>
                            </div>
                        </div>


                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" name="CARACTERISTICA" value="CARACTERISTICA"
                                {% if 'CARACTERISTICA' in consulta %}checked{% endif %}>
                            <label class="form-check-label" for="inlineCheckbox1">Caracteristica</label>
                        </div>
                        <br>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" name="DESCRIPCION_COLOR"
                                value="DESCRIPCION_COLOR" {% if 'DESCRIPCION_COLOR' in consulta %}checked{% endif %}>
                            <label class="form-check-label" for="inlineCheckbox2">Color</label>
                        </div>
                        <br>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" name="DEPARTAMENTO" value="DEPARTAMENTO"
                                {% if 'DEPARTAMENTO' in consulta %}checked{% endif %}>
                            <label class="form-check-label" for="inlineCheckbox2">Departamento</label>
                        </div>
                        <br>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" name="DESCRIPCION_LARGA"
                                value="DESCRIPCION_LARGA" {% if 'DESCRIPCION_LARGA' in consulta %}checked{% endif %}>
                            <label class="form-check-label" for="inlineCheckbox2">Descripción
                                larga</label>
                        </div>
                        <br>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" name="MATERIAL" value="MATERIAL"
                                {% if 'MATERIAL' in consulta %}checked{% endif %}>
                            <label class="form-check-label" for="inlineCheckbox1">Material</label>
                        </div>
                        <br>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" name="DESCRIPCION_MATERIAL"
                                value="DESCRIPCION_MATERIAL"
                                {% if 'DESCRIPCION_MATERIAL' in consulta %}checked{% endif %}>
                            <label class="form-check-label" for="inlineCheckbox2">Descripción
                                material</label>
                        </div>
                        <br>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" name="DESCRIPCION_MATERIAL_ENRIQUECIDO"
                                value="DESCRIPCION_MATERIAL_ENRIQUECIDO"
                                {% if 'DESCRIPCION_MATERIAL_ENRIQUECIDO' in consulta %}checked{% endif %}>
                            <label class="form-check-label" for="inlineCheckbox1">Descripción
                                material enriquecida</label>
                        </div>
                        <br>

                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" name="EAN" value="EAN"
                                {% if 'EAN' in consulta %}checked{% endif %}>
                            <label class="form-check-label" for="inlineCheckbox2">Ean</label>
                        </div>
                        <br>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" name="GENERO" value="GENERO"
                                {% if 'GENERO' in consulta %}checked{% endif %}>
                            <label class="form-check-label" for="inlineCheckbox2">Genero</label>
                        </div>
                        <br>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" name="GRUPO_DESTINO" value="GRUPO_DESTINO"
                                {% if 'GRUPO_DESTINO' in consulta %}checked{% endif %}>
                            <label class="form-check-label" for="inlineCheckbox2">Grupo
                                destino</label>
                        </div>
                        <br>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" name="IMAGEN_GRANDE" value="IMAGEN_GRANDE"
                                {% if 'IMAGEN_GRANDE' in consulta %}checked{% endif %}>
                            <label class="form-check-label" for="inlineCheckbox1">Imagen</label>
                        </div>
                        <br>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" name="MARCA"
                                value="MARCA" {% if 'MARCA' in consulta %}checked{% endif %}>
                            <label class="form-check-label" for="inlineCheckbox2">Marca</label>
                        </div>
                        <br>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" name="DESCRIPCION_TALLA"
                                value="DESCRIPCION_TALLA" {% if 'DESCRIPCION_TALLA' in consulta %}checked{% endif %}>
                            <label class="form-check-label" for="inlineCheckbox2">Talla</label>
                        </div>
                        <br>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" name="TAGS" value="TAGS"
                                {% if 'TAGS' in consulta %}checked{% endif %}>
                            <label class="form-check-label" for="inlineCheckbox2">Tags</label>
                        </div>
                        <br>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" name="TIPO_PRENDA" value="TIPO_PRENDA"
                                {% if 'TIPO_PRENDA' in consulta %}checked{% endif %}>
                            <label class="form-check-label" for="inlineCheckbox2">Tipo
                                prenda</label>
                        </div>
                        <br>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" name="SUBGRUPO" value="SUBGRUPO"
                                {% if 'SUBGRUPO' in consulta %}checked{% endif %}>
                            <label class="form-check-label" for="inlineCheckbox2">Subgrupo</label>
                        </div>
                        <br>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" name="SUBGRUPO" value="COMPOSICION_ES"
                                {% if 'COMPOSICION_ES' in consulta %}checked{% endif %}>
                            <label class="form-check-label" for="inlineCheckbox2">Composicion</label>
                        </div>
                        <hr />
                        <input type="submit" class="btn btn-primary" value="Continuar">
                </div>

            </div>


            </form>

        </div>
    </div>
</div>

</div>

<div id="envio" class="tabcontent">
    <div class="container pt-4">
        <div class="row">
            <div class="col-md-10 offset-1 align-items-center">

                <form action="/catalogoh/" method="POST" enctype="multipart/form-data"
                    class="p-3 border bg-transparent rounded-lg"> {%csrf_token %}

                    <div class="form-row">
                        <div class="form-group col-md">
                            <label for="archivo">Cargar Archivo</label>
                            <input type="file" name="archivo" class="form-control-file" id="archivo" required>
                        </div>
                    </div>
                    <input type="submit" class="btn btn-primary" value="Continuar">

                </form>
            </div>
        </div>
    </div>

</div>
{% if messages %}
<ul class="messages alert alert-danger">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
        {% endfor %}
</ul>
{% endif %}

</div>