
    <div class="tab">
        <button class="tablinks" onclick="openEvent(event, 'pago')">PIM</button>
        <button class="tablinks" onclick="openEvent(event, 'envio')">PDF</button>
    </div>

    <div id="pago" class="tabcontent">

        <div class="container pt-4">
            <div class="row">
                <div class="col-md-10 offset-1 align-items-center">
                    <form action="/subida/" method="POST" enctype="multipart/form-data"
                        class="p-3 border bg-transparent rounded-lg">{% csrf_token %}
                        <div class="form-row">
                            <div class="form-group col-md">
                                <label for="ancho">Ancho</label>
                                <input type="number" class="form-control" id="ancho" name="ancho" aria-describedby="Ancho">
                                <small id="emailHelp" class="form-text text-muted">Ingresa el tamaño del ancho de la
                                    imagen.</small>
                            </div>
                            <div class="form-group col-md">
                                <label for="largo">Largo</label>
                                <input type="number" class="form-control" id="largo" name="largo" aria-describedby="Largo">
                                <small id="emailHelp" class="form-text text-muted">Ingresa el tamaño del Largo de la
                                    imagen.</small>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md">
                                <label for="Consulta">Medio de Consulta</label>
                                <select name="tipo" class="form-control" id="Consulta">
                                    <option value="">Seleccione...</option>
                                    <option value="MATERIAL">MATERIAL</option>
                                    <option value="EAN">EAN</option>
                                    
                                </select>
                            </div>
                        </div>

                        <div class="form-row">
                    <div class="form-group col-md">
                        <label for="archivo">Cargar Archivo</label>
                        <input type="file" name="archivo" class="form-control-file" id="archivo" required>
                    </div>
                </div>

                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" name="MATERIAL" value="MATERIAL">
                    <label class="form-check-label" for="inlineCheckbox1">Material</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" name="DESCRIPCION_MATERIAL" value="DESCRIPCION_MATERIAL">
                    <label class="form-check-label" for="inlineCheckbox2">Descripción material</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" name="DESCRIPCION_MATERIAL_ENRIQUECIDO" value="DESCRIPCION_MATERIAL_ENRIQUECIDO">
                    <label class="form-check-label" for="inlineCheckbox1">Descripción material enriquecida</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" name="DESCRIPCION_LARGA" value="DESCRIPCION_LARGA">
                    <label class="form-check-label" for="inlineCheckbox2">Descripción larga</label>
                </div>              
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" name="EAN" value="EAN">
                    <label class="form-check-label" for="inlineCheckbox2">Ean</label>
                </div>
             
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" name="DESCRIPCION_TALLA" value="DESCRIPCION_TALLA">
                    <label class="form-check-label" for="inlineCheckbox2">Talla</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" name="DESCRIPCION_COLOR" value="DESCRIPCION_COLOR">
                    <label class="form-check-label" for="inlineCheckbox2">Color</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" name="IMAGEN_GRANDE" value="IMAGEN_GRANDE">
                    <label class="form-check-label" for="inlineCheckbox1">Imagen</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" name="TIPO_PRENDA" value="TIPO_PRENDA">
                    <label class="form-check-label" for="inlineCheckbox2">Tipo prenda</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" name="SUBGRUPO" value="SUBGRUPO">
                    <label class="form-check-label" for="inlineCheckbox2">Subgrupo</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" name="GENERO" value="GENERO">
                    <label class="form-check-label" for="inlineCheckbox2">Genero</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" name="DEPARTAMENTO" value="DEPARTAMENTO">
                    <label class="form-check-label" for="inlineCheckbox2">Departamento</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" name="TAGS" value="TAGS">
                    <label class="form-check-label" for="inlineCheckbox2">Tags</label>
                </div>
                <hr/>

                    
                        <input type="submit" class="btn btn-primary" value="Continuar">
                    </form>

                </div>
            </div>
        </div>
        
    </div>

    <div id="envio" class="tabcontent">

        
        <div class="container pt-4">
            <div class="row">
                <div class="col-md-10 offset-1 align-items-center">
                   
                    <form action="/catalogo/" method="POST" enctype="multipart/form-data"
                        class="p-3 border bg-transparent rounded-lg"> {% csrf_token %}

                        <div class="form-row">
                            <div class="form-group col-md">
                                <label for="archivo">Cargar Archivo</label>
                                <input type="file" name="archivo" class="form-control-file" id="archivo" required>
                            </div>
                        </div>
                    
                        <input type="submit" class="btn btn-primary" value="Continuar">
                    </form>

                </div>
            </div>
        </div>

    </div>

  
