{% extends "layout.html" %}
{% load static %}
{% block body %}
<title>Pim</title>
<hr class="mt-5">
<div class="container col-md-12">
    <div class="text-center mt-5">
   
        <table id="MyTable" class="table table-striped table-bordered ">
            <thead>
                <tr>
                    {% for fila in headers %}
                    <th scope="col">{{fila}}</th>
                    {% endfor %}
                </tr>
            </thead>
            
            <tbody>
                {% for row in lista %}
                <tr>
                    {% for val in row %}
                    {% if "http://" in val or "www" in val %}
                    <td><img src={% if '[None]' not in val %}{{val}}{% endif %} width="100" height="100"></td>
                    {% else %}
                    <td>{{val}}</td>
                    {% endif %}
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}