
{% extends "layout.html" %}
{% load static %}
{% block body %}
<div class="container col-md-12">
    <div class="text-center">
        <table id="tblData" class="table table-sm table_limit">
            <thead>
                <tr>
                    {% for fila in headers %}
                    <th scope="col">{{fila}}</th>
                    {% endfor %}

                </tr>
            </thead>

            <tbody>
                {% for row in lista %}
                <tr>
                    {% for val in row %}
                    {% if "http://" in val %}
                    <td><img src={% if '[None]' not in val %}{{val}}{% endif %} width="100" height="100"></td>
                    {% else %}
                    <td>{{val}}</td>
                    {% endif %}
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<script type="text/javascript"> 
    function exportTable(tableID){
        var a = "{{lista}}"
        print("hola")
     }
 </script>
<div class="container col-md-12">
    <div class="text-right">

        <img class='flotante' onclick="exportTableToExcel('tblData')"
                width="50" height="60" class="text-right" src={% static '/img/csv-icon.png' %} border="0" />      

    </div>
</div
<hr>


<form action="/descarga/" method="POST">{% csrf_token%}
<input class="btn btn-outline-success flotante2" value="Descargar img" type="submit"></form>
<br>
{% endblock %}